/*
media query to fix all size
*/
@media only screen and (max-width: 300px){
    body{
        background-color: lightblue;
    }
}

/*
custom font
*/
@font-face {
    font-family: myfont;
    src: url(VinaSans-Regular.ttf)
  }

/*
custom body of the page
*/
body {

    /* Add a background color or image */
    background-color: #F9E1DF;
    position: relative;

    /* Customize the font, size, and color for text*/
    font-family: Arial;
    font-size: 14pt;
    color: black;

    /* Adjust the padding and margins */
    padding-top: 0;
    padding-left: 5%;
    padding-right: 0;
    padding-bottom: 5%;

    margin-top: 0;
    margin-left: 5%;
    margin-right: 0;
    margin-bottom: 5%;

}
/*
body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('meeting-minutes-bg.webp');
    opacity: 0.1;
}
*/

/*
title: meeting minutes
*/
h1{
    color: hsl(334, 44%, 54%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3em;
}


/* Navbar */

/* General style rule set for all items in ul */
.navbar ul {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 100rem;


  }
  
  /* Style rule set for individual li */
  .navbar ul li {
      float: left;
      margin: 12px 12px 12px 12px;
    
  }
  
  
  /* Style rule set for individual li link */
  .navbar ul li a {
      font-family: myfont;
      display: block;
      color:#9F2B68;
      font-size: 0.5cm;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      text-align: center;
      background-color:rgb(251, 231, 239,3);
      border-color: black;
      border-style: inset;
      border-width: 0.1em;
      border-radius: 15px;
    
  }
  
  /* Style rule set for hovered link */
  .navbar ul li a:hover {
      font-weight: bold;
  }

  /*
  Style rule for thank you image
  */
  a[href="https://www.freecodecamp.org/news/html-basics-for-beginners/"]{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
  }

  /*
  link is active at red
  */
  #html-link:active{
    color: red;
  }

/*
Flex box
*/
  .agenda-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20%;
  }

  /*
  Grid
  */

  /*
  Style rule for opening container
  */
  .opening-container{
    display: grid;
    grid-template-columns: [first] 10%, [line2] 100px [line3] 300px;
    grid-template-rows: [line1] 10%;
    margin: auto;

  }

  /*
  Style rule for the tittle of opening
  */
  #opening-tittle{
    grid-area: 1/ line1 / first / line 2;
  }

  /*
  Style rule for the details in opening
  */
  #opening-form{
    grid-area: 1/ line1/ line2 / line 3;
  }

  /*
  selector list
  */
  i, strong{
    text-decoration: underline;
  }
  
  /*
  element selector
  */
  h2{
    color: purple;
  }

  /*
  descendant combinator
  */
  .roles li{
    color: lightcoral;
  }

  /*
  general sibling combinator
  */
  h3 ~ h4{
    color: #191970;
  }

  /*
  child combinator
  */
  .todo > li {
    text-decoration: underline;
  } 

  /*
  adjacent sibling combinator
  */
  h3 + p{
    color: #191970;
    font-weight: bold;
  }

  /*
  combining two selectors
  */
  textarea.feedback {
    width: 500px;
    height: 100px;
  }








  